@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
.bg-light {
    background-color: #ffffff!important;
}
.navbar-light .navbar-brand {
    color: #0149a1;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #868fa1;
}
.navbar-brand {
    font-size: 1.9rem;
}
.social a {
    border: 1px solid;
    border-radius: 50%;
    padding: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 7px;
}
.navbar-light .navbar-nav .nav-link {
    color: #868fa1;
    border: 1px solid #9990;
    padding: 7px 20px;
    border-radius: 30px
}
.line{
        display: block;
    height: 1px;
    width: 100%;
    background: #fafbfb;
}
.navbar-light .navbar-nav .nav-link:hover {
    border: 1px solid #7f7f7f;
transition: all 0.4s;
}
.navbar-expand-lg .navbar-nav .nav-item {
        margin-left: 10px;
}

.intro{
    background: url(../images/background1.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 138vh;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    margin-top: 10%;
}
.h1, h1 {
    font-size: 3.5rem;
    color: #0149a1;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #5d6981;
}
.btn-group-sm>.btn, .btn-sm {
    margin-top: 40px;
    padding: 0.25rem 1.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 30px;
}
.btn-primary {
    color: #fff;
    background-color: #ff2d55;
    border-color: #ff2d55;
}
.btn-primary:hover {
    color: #fff;
    background-color: #ff2d55;
    border-color: #ff2d55;
    padding: 0.26rem 1.55rem;
}

.text-center img {
    vertical-align: middle;
    border-style: none;
    width: 70%;
    /* margin-top: 14%; */
}
.rounded {
    border-radius: .25rem!important;
    /* display: inline-block; */
    margin-top: 166px;
}
.gallary{
    background: url(../images/background3.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 61vh;
    position: relative;
}
.btn{}
.btn2{
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translate(-50%,-50%);
    color: #fff;
    background-color: #0149a1;
    border-color: #0149a1;
    padding: 0.25rem 1.5rem;
    border-radius: 30px;
}
h3{
        font-size: 1.5rem;
    padding: 5px;
    padding-top: 15px;
    color: #7f7f7f;
}
.col-3 {
    text-align: center;
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 30px;
}
.col-3 p{
}
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    /* padding: 1rem; */
}
.text-center{
    position: relative;
    /* margin-top:  11%; */
    /* width: 111%; */
}
.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    position: absolute;
    left: 49.7%;
    bottom: 13%;
    height: 40%;
    width: 47%;
    transform: translate(-50%,-27%);
}
.work{
    margin-top: 2px;
    background: #0149a1;
    height: 40rem;
    position:  relative;
}
.work h2{
    text-align:  center;
    padding-top: 35px;
    color:  white;
    display: inherit;
    margin: 0;
}
.work h4{
    text-align:  center;
    color:  white;
    font-size: 1.2rem;
    position: relative;
}
.menu{
    display:  inline-block;
    width:  50%;
    float:  left;
    padding: 10% 0px;
    overflow: hidden;
}
.menu img{}
.detail{
    display:  inline-block;
    width:  50%;
    float:  left;
    padding: 10% 0px;
}
.detail p{
    color:  white;
}
.btn-primary-1 {
    color: #0149a1;
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 30px;
    padding: 0.26rem 1.55rem;
    position:  absolute;
    left: 46%;
    bottom: 8%;
    transform: translate(-50%,0%);
}
.btn-primary-1:hover {
    color: #0149a1;
    background-color: #ffffff;
    padding: 0.26rem 1.55rem;
    border-radius: 30px;
    border-color: black;
}
.team-gallary{
    background: #edeff1;
    position:  relative;
    height: 50rem;
}
.team-gallary h2{
    text-align:  center;
    margin:  0;
    padding-top: 80px;
    font-size: 3.5rem;
    color: #0149a1;
}
.team-gallary h4{
    margin:  0;
    text-align:  center;
    padding-top: 5px;
    padding-bottom: 10%;
    color: #898989;
}
.btn-primary-2{
    color: #ffffff;
    background-color: #E91E63;
    border-color: #E91E63;
    border-radius: 30px;
    padding: 0.26rem 1.55rem;
    position:  absolute;
    left: 46%;
    bottom: 6%;
    transform: translate(-50%,-100%);
}
.options{
        background: #0149a1;
}
.options p{
    text-align:  left;
    color: white;
    padding-top: 40%;
}
.opt{}
.opt h6{
    text-align: center;
    color: white;
    font-size: 1rem;
    padding-bottom: 30px;
}